<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/ProyectoIntesa/greet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>edu.server.servicio.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/proyectointesa/login</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>administradorServlet</servlet-name>
    <servlet-class>edu.server.servicio.AdministradorServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>administradorServlet</servlet-name>
    <url-pattern>/proyectointesa/administrador</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ventasServlet</servlet-name>
    <servlet-class>edu.server.servicio.VentasServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ventasServlet</servlet-name>
    <url-pattern>/proyectointesa/ventas</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
    <servlet-name>comprasServlet</servlet-name>
    <servlet-class>edu.server.servicio.ComprasServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>comprasServlet</servlet-name>
    <url-pattern>/proyectointesa/compras</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>almacenServlet</servlet-name>
  <servlet-class>edu.server.servicio.AlmacenServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>almacenServlet</servlet-name>
    <url-pattern>/proyectointesa/almacen</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>produccionServlet</servlet-name>
  <servlet-class>edu.server.servicio.ProduccionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>produccionServlet</servlet-name>
    <url-pattern>/proyectointesa/produccion</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ProyectoIntesa.html</welcome-file>
  </welcome-file-list>

</web-app>
